:root {
  --blue: #0059ff;
}

audio {
  background-color: #c3e1ff;
  border: none;
  border-radius: 5px;
}

audio::-webkit-media-controls-panel {
  background-color: #c3e1ff;
}

.btn-gradient {
  background: linear-gradient(to bottom, rgb(0, 191,251), rgb(0, 102, 205));
  border: none !important;
  color: white;
}
