@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
}

:root {
  --blue: #0059ff;
}

audio {
  background-color: #c3e1ff;
  border: none;
  border-radius: 5px;
}

audio::-webkit-media-controls-panel {
  background-color: #c3e1ff;
}

.btn-gradient {
  background: linear-gradient(to bottom, rgb(0, 177, 230), rgb(0, 151, 228), rgb(0, 110, 220));
  border: none !important;
  color: white;
}
